services:
  db:
    image: postgres:16-alpine
    container_name: myapp_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20
    restart: unless-stopped

  app:
    build: .
    container_name: myapp_app
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3010:3000"
    volumes:
        - ./uploads:/app/uploads
    restart: unless-stopped

volumes:
  pgdata: